extends template.pug
include mixins.pug
block after_head
	script(src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js")
	script.
		(function (i, s, o, g, r, a, m){
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function (){
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-69105822-1', 'auto');
		ga('send', 'pageview');
		window.alert('If you are a University of Richmond student, there is a specialized version of this website available at http://mikedombrowski.com/ur');
block content
	.container-fluid
		h2 Make A Schedule
		.row
			.panel-group#all-courses
				if editMode
					each course in courseEdit
						+courseEntryPanel(course.name, course.FOS, course.num, course.units, course.sections, course.ID)
				else
					+courseEntryPanel()
		.row.col-sm-6
			button.btn.btn-success.btn-submit.glyphicon.glyphicon-check Submit
		.hide
			.panel.panel-default.course-template
				.panel-heading
					h1#course1.panel-title.pull-left
					form.form-inline.pull-left.course-control(role="form", autocomplete="off")
						.entry.form-group.course-control.has-error
							| Name
							label(style="color:red;") *
							| :
							input#name1.form-control.name(name="fields[]", type="text", placeholder="Enter Course Name", required="required")
							| Field of Study:
							input.form-control.fos(name="fields[]", type="text", placeholder="ex. CMSC", style="text-transform: uppercase", maxlength="4")
							| Course Number:
							input.form-control.cn(name="fields[]", type="text", placeholder="ex. 101", maxlength="3")
							| Number of Units:
							input.form-control.units(name="fields[]", type="text", placeholder="ex. 1", maxlength="3")
					button.btn.btn-success.btn-add.pull-right.btn-add-course(type="button")
						span.glyphicon.glyphicon-plus
					button.btn.btn-danger.btn-remove.pull-right(type="button")
						span.glyphicon.glyphicon-minus
					.clearfix
				.panel-body
					h3 Enter Section Details
					.col-md-4.section-template
						.panel.panel-default
							.panel-heading
								h1#course1.panel-title.pull-left.new-course Section 1
								button.btn.btn-success.btn-add.pull-right.btn-add-section.glyphicon.glyphicon-plus(type="button", style="line-height: 1!important;")
								button.btn.btn-danger.btn-remove-section.pull-right(type="button", style="line-height: 1!important;")
									span.glyphicon.glyphicon-minus
								.clearfix
							.panel-body
								form.form.section-control(role="form", autocomplete="off")
									input.form-control.crn(type="text", placeholder="CRN Number", style="margin:1px;")
									.time-template
										.row.col-md-12.input-group(style="margin:1px;")
											select.form-control.day
												option Monday
												option Tuesday
												option Wednesday
												option Thursday
												option Friday
												option Saturday
												option Sunday
											span.input-group-btn
												button.btn.btn-danger.btn-remove-time.glyphicon.glyphicon-minus(type="button", style="line-height: 1!important;")
												button.btn.btn-success.btn-add.btn-add-time.glyphicon.glyphicon-plus(type="button", style="line-height: 1!important;")
										.row.col-md-12
											.col-md-6.bootstrap-timepicker.timepicker
												label.control-label From:
												input#timepicker1.form-control.input-small.from.time(type="text")
												span.input-group-addon
													i.glyphicon.glyphicon-time
											.col-md-6.bootstrap-timepicker.timepicker
												label.control-label To:
												input#timepicker2.form-control.input-small.to.time(type="text")
												span.input-group-addon
													i.glyphicon.glyphicon-time
		#no-name-error.modal.fade(tabindex="-1", role="dialog")
			.modal-dialog.has-error
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal") ×
						h3 Error: No Course Name Entered!
		#bad-time-error.modal.fade(tabindex="-1", role="dialog")
			.modal-dialog.has-error
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal") ×
						h3 Error: Incorrect Time Entered!
		#course-delete.alert.alert-warning.alert-dismissible.hide(role="alert", style="position:fixed; z-index:500; width:50%; margin:auto;  left:0; right:0; top:20px;")
			button.close(type="button", href="#") ×
			strong Course Deleted!
			a.alert-link.pull-right.undo(href="#") Undo
		#section-delete.alert.alert-warning.alert-dismissible.hide(role="alert", style="position:fixed; z-index:500; width:50%; margin:auto;  left:0; right:0; top:20px;")
			button.close(type="button", href="#") ×
			strong Section Deleted!
			a.alert-link.pull-right.undo(href="#") Undo
		#time-delete.alert.alert-warning.alert-dismissible.hide(role="alert", style="position:fixed; z-index:500; width:50%; margin:auto;  left:0; right:0; top:20px;")
			button.close(type="button", href="#") ×
			strong Time Deleted!
			a.alert-link.pull-right.undo(href="#") Undo
	script.
		var numCourse = #{numCourse};
		var numSection = #{numSection};
	script(src=subdir+"/public/js/homepageFunctions.js")
