extends template.pug
include mixins.pug
block after_head
	script(src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js")
block content
	.container-fluid
		h2 Make A Schedule
		.row.col-md-12
			.panel-group#all-courses
				if editMode
					each course in courseEdit
						+courseEntryPanel(false, course.name, course.FOS, course.num, course.units, course.sections,
						course.ID)
				else
					+courseEntryPanel(false)
		.row.col-sm-6.col-sm-offset-3(style="margin-bottom:1em;")
			button.btn.btn-success.btn-submit.glyphicon.glyphicon-check.btn-block Submit

		// Templates
		.hide
			+courseEntryPanel(true)

		// Error and Undo modals
		#no-name-error.modal.fade(tabindex="-1", role="dialog")
			.modal-dialog.has-error
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal") ×
						h3 Error: No Course Name Entered!
		#bad-time-error.modal.fade(tabindex="-1", role="dialog")
			.modal-dialog.has-error
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal") ×
						h3 Error: Incorrect Time Entered!
		#course-delete.alert.alert-warning.alert-dismissible.hide(role="alert", style="position:fixed; z-index:500; width:50%; margin:auto;  left:0; right:0; top:20px;")
			button.close(type="button", href="#") ×
			strong Course Deleted!
			a.alert-link.pull-right.undo(href="#") Undo
		#section-delete.alert.alert-warning.alert-dismissible.hide(role="alert", style="position:fixed; z-index:500; width:50%; margin:auto;  left:0; right:0; top:20px;")
			button.close(type="button", href="#") ×
			strong Section Deleted!
			a.alert-link.pull-right.undo(href="#") Undo
		#time-delete.alert.alert-warning.alert-dismissible.hide(role="alert", style="position:fixed; z-index:500; width:50%; margin:auto;  left:0; right:0; top:20px;")
			button.close(type="button", href="#") ×
			strong Time Deleted!
			a.alert-link.pull-right.undo(href="#") Undo
	script.
		var numCourse = #{numCourse};
		var numSection = #{numSection};
	script(src=subdir+"/public/js/homepageFunctions.js")
